<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">AmazonS3Test</h3>
</div>

<div class="jumbotron">
 <input type="file" id="files"  filelist-bind name="files"/>
 <br/>
 <span>All Files </span>
 <br/>Status: {{status}}<br/>
 
 <ul ng-if="!hidden">
    <li ng-repeat="current in fileList">{{current.name}}: <button style="width: auto; height: auto;" class="btn" type="button" ng-click="viewImage(current)">View</button></li>
 </ul>
 <p ng-if="fileList && fileList.length == 0">No files...</p>
</div>