<div class="header">
  <h3 class="text-muted">FootballBetting</h3>
</div>

<div class="jumbotron">
	<button ng-click="doBets()">Do Bets!</button>
	<div><label>Iterations: {{maxIterations}}<input ng-model="max" type="text"/></div>
	<p ng-if="!doneBets">{{status}}</p>
 	<p ng-if="doneBets">Putting all in a straight line gives you a {{oneResult}}% chance of winning</p>
 	<p ng-if="doneBets">Putting all in a diagonal line so that no row or column in used twice gives you a {{twoResult}}% chance of winning</p>
</div>